body {
  font-family: Helvetica, sans-serif;
}

h1 h2 {
  font-weight: 700;
}

p {
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
}

.logo {
  width: 100px;
  height: 34px;
  padding-top: 25px;
  padding-left: 25px;
  background-color: #0d28a6;
}

.navbar {
  background-color: #f1f3ff;
}

.offcanvas-body ul li a {
  color: #000000;
  margin: 0 10px;
}

.offcanvas-body ul li a:hover:not(.btn) {
  color: #000000;
  border-bottom: 2px solid black;
}

.btn.btn-success {
  border: 1px solid #5cb85f;
  color: #ffffff;
  box-shadow: 1px 10px 30px -10px #5cb85f;
  display: inline-block;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.btn-success:after {
  content: "";
  position: absolute;
  color: #ffffff;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #5cb85f;
  z-index: -2;
}

.btn.btn-success:hover {
  color: #ffffff;
}

.upper-section {
  height: 488px;
  background-color: #f1f3ff;
  position: relative;
}

.profile-title {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 20px;
}

.profile-desc {
  width: 468px;
  height: 60px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.lexus img {
  width: 760px;
}

.our-services {
  width: 1027px;
  height: 428px;
  margin: auto;
}

.checklist-text {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.checklist-text img {
  margin-right: 20px;
}

.checklist-text p {
  margin: 0;
  flex-grow: 1;
  text-align: left;
}
